		</div>

		<!-- Footer -->
		<footer id="footer">
				<section>
						<form method="POST" action="https://formspree.io/{{ site.email }}">
								<div class="field">
									  <label for="name">Name</label>
									  <input type="text" name="name" id="name" />
								</div>
								<div class="field">
									  <label for="email">Email</label>
									  <input type="text" name="_replyto" id="email" />
								</div>
								<div class="field">
									  <label for="message">Message</label>
									  <textarea name="message" id="message" rows="3"></textarea>
								</div>
								<ul class="actions">
									  <li><input type="submit" value="Send Message" /></li>
								</ul>
								<input type="hidden" name="_subject" value="New fom submission on the KAMSC Bl0g!" />
								<input type="text" name="_gotcha" style="display:none" />
								<input type="hidden" name="_next" value="https://kamsc.github.io/blog/" />
						</form>
				</section>
				<section class="split contact">
						<section class="alt">
								<h3>Address</h3>
								<a href="https://www.google.com/maps/place/KAMSC/@42.2845772,-85.5926424,17z/data=!3m1!4b1!4m5!3m4!1s0x88179d68cb1f0dc5:0x7b8d457e80b49675!8m2!3d42.2845733!4d-85.5904537">{{ site.street_address }}<br />
								    {{ site.city }}, {{ site.state }} {{ site.zip_code }}</a>
						</section>
						<section>
								<h3>Phone</h3>
								<p><a href="tel:{{ site.phone | remove: " " | remove: "-" | remove: "(" | remove: ")"}}">{{ site.phone }}</a></p>
						</section>
						<section>
								<h3>Email</h3>
								<p><a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
						</section>
						<section>
								<h3>Social</h3>
								<ul class="icons alt">
										{% if site.twitter_url %}
				            <li><a href="{{ site.twitter_url }}" class="icon alt fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
				            {% endif %}
				            {% if site.googleplus_url %}
				            <li><a href="{{ site.googleplus_url }}" class="icon alt fa-google-plus" target="_blank"><span class="label">Google+</span></a></li>
				            {% endif %}
				            {% if site.facebook_url %}
				            <li><a href="{{ site.facebook_url }}" class="icon alt fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>
				            {% endif %}
				            {% if site.instagram_url %}
				            <li><a href="{{ site.instagram_url }}" class="icon alt fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
				            {% endif %}
				            {% if site.pinterest_url %}
				            <li><a href="{{ site.pinterest_url }}" class="icon alt fa-pinterest" target="_blank"><span class="label">Pinterest</span></a></li>
				            {% endif %}
				            {% if site.500px_url %}
				            <li><a href="{{ site.500px_url }}" class="icon alt fa-500px" target="_blank"><span class="label">500px</span></a></li>
				            {% endif %}
				            {% if site.gitlab_url %}
				            <li><a href="{{ site.gitlab_url }}" class="icon alt fa-gitlab" target="_blank"><span class="label">GitLab</span></a></li>
				            {% endif %}
				            {% if site.github_url %}
				            <li><a href="{{ site.github_url }}" class="icon alt fa-github" target="_blank"><span class="label">GitHub</span></a></li>
				            {% endif %}
				            {% if site.slack_url %}
				            <li><a href="{{ site.slack_url }}" class="icon alt fa-slack" target="_blank"><span class="label">Slack</span></a></li>
				            {% endif %}
				            {% if site.linkedin_url %}
				            <li><a href="{{ site.linkedin_url }}" class="icon alt fa-linkedin" target="_blank"><span class="label">LinkedIn</span></a></li>
				            {% endif %}
                </ul>
						</section>
				</section>
		</footer>

		<!-- Copyright -->
		<div id="copyright">
				<ul><li><i>Copyright &copy; {{ site.author }}</i></li></ul>
		</div>

		</div>

		<!-- Scripts -->
		<script src="{{ "{{site.github.url}}/assets/js/jquery.min.js" | absolute_url }}"></script>
		<script src="{{ "{{site.github.url}}/assets/js/jquery.scrollex.min.js" | absolute_url }}"></script>
		<script src="{{ "{{site.github.url}}/assets/js/jquery.scrolly.min.js" | absolute_url }}"></script>
		<script src="{{ "{{site.github.url}}/assets/js/skel.min.js" | absolute_url }}"></script>
		<script src="{{ "{{site.github.url}}/assets/js/util.js" | absolute_url }}"></script>
		<script src="{{ "{{site.github.url}}/assets/js/main.js" | absolute_url }}"></script>
		<script src="{{ "{{site.github.url}}/assets/js/super-search.js" | absolute_url }}"></script>
		<script>superSearch({searchFile: 'https://kamsc.github.io/blog/feed.xml'});</script>
		<script>
		(function() {
		    var url_string = document.location.href
		    var url = new URL(url_string);
		    var search = url.searchParams.get("search-box");
		    console.log(search);
		    document.getElementById("search-box").value = search
		    handleInput();
		})();
		</script>
