<!DOCTYPE HTML>
<html>

    <head>
		<title>Bl0g by KAMSC</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/blog//assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/blog//assets/css/noscript.css" /></noscript>
</head>


	  <body class="is-loading">

		    <!-- Wrapper -->
			  <div id="wrapper">

            		<!-- Header -->
		<header id="header">
				<a href="/blog//http://localhost:4000" class="logo">Bl0g</a>
		</header>

            

<!-- Nav -->
<nav id="nav">
		<ul class="links">
        
		    
		    
		    
		    
		    
		    <li><a href="http://localhost:4000/blog/">Home</a></li>
	    	
		    
		    
		    
		    <li><a href="http://localhost:4000/blog//elements.html">Elements Reference</a></li>
		    
		    
		    
		    <li><a href="http://localhost:4000/blog//generic.html">Generic Page</a></li>
		    
		    
		    
		    
		</ul>
		<ul class="icons">
				
				<li><a href="https://twitter.com/andrewbanchich" class="icon fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
				
				
				
				
				
				
				
				<li><a href="https://gitlab.com/u/andrewbanchich" class="icon fa-gitlab" target="_blank"><span class="label">GitLab</span></a></li>
				
				
				<li><a href="https://github.com/andrewbanchich" class="icon fa-github" target="_blank"><span class="label">GitHub</span></a></li>
				
				
				
				<li><a href="https://www.linkedin.com/in/andrew-banchich-a4ba1195" class="icon fa-linkedin" target="_blank"><span class="label">LinkedIn</span></a></li>
				

		</ul>
</nav>

<!-- Main -->
<div id="main">


				    <!-- Post -->
				    <section class="post">
						    <header class="major">
								    <span class="date">June 11, 2017</span>
								    <h1>Welcome! Post</h1>
								    <p>Introduction of the KAMSC Bl0g</p>
						    </header>

                
                <div class="image main"><img src="/blog//assets/images/kamsc_bl0g_screenshot.png" alt="" /></div>
                

                <p>It’s going to be an amazing year with this bl0g!</p>

<p>You are free to write anything you like on this bl0g. Just go ahead and email your content to any of the following emails: <a href="mailto:green1139@gmail.com">green1139@gmail.com</a></p>


				    </section>

            		</div>

		<!-- Footer -->
		<footer id="footer" action="https://formspree.io/contact@kamsconline.com" method="POST">
				<section>
						<form method="post" action="#">
								<div class="field">
									  <label for="name">Name</label>
									  <input type="text" name="name" id="name" />
								</div>
								<div class="field">
									  <label for="email">Email</label>
									  <input type="text" name="_replyto" id="email" />
								</div>
								<div class="field">
									  <label for="message">Message</label>
									  <textarea name="message" id="message" rows="3"></textarea>
								</div>
								<ul class="actions">
									  <li><input type="submit" value="Send Message" /></li>
								</ul>
						</form>
				</section>
				<section class="split contact">
						<section class="alt">
								<h3>Address</h3>
								<p>1234 Somewhere Road<br />
								    Portage, MI 49024</p>
						</section>
						<section>
								<h3>Phone</h3>
								<p><a href="#">(716) 555-5555</a></p>
						</section>
						<section>
								<h3>Email</h3>
								<p><a href="#">contact@kamsconline.com</a></p>
						</section>
						<section>
								<h3>Social</h3>
								<ul class="icons alt">
										
				            <li><a href="https://twitter.com/andrewbanchich" class="icon alt fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
				            
				            
				            
				            
				            
				            
				            
				            <li><a href="https://gitlab.com/u/andrewbanchich" class="icon alt fa-gitlab" target="_blank"><span class="label">GitLab</span></a></li>
				            
				            
				            <li><a href="https://github.com/andrewbanchich" class="icon alt fa-github" target="_blank"><span class="label">GitHub</span></a></li>
				            
				            
				            
				            <li><a href="https://www.linkedin.com/in/andrew-banchich-a4ba1195" class="icon alt fa-linkedin" target="_blank"><span class="label">LinkedIn</span></a></li>
				            
                </ul>
						</section>
				</section>
		</footer>

		<!-- Copyright -->
		<div id="copyright">
				<ul><li><i>Copyright &copy; KAMSC Students</i></li></ul>
		</div>

		</div>

		<!-- Scripts -->
		<script src="http://localhost:4000/blog//assets/js/jquery.min.js"></script>
		<script src="http://localhost:4000/blog//assets/js/jquery.scrollex.min.js"></script>
		<script src="http://localhost:4000/blog//assets/js/jquery.scrolly.min.js"></script>
		<script src="http://localhost:4000/blog//assets/js/skel.min.js"></script>
		<script src="http://localhost:4000/blog//assets/js/util.js"></script>
		<script src="http://localhost:4000/blog//assets/js/main.js"></script>


    </body>

</html>
